body {
  font-family: "Outfit";
  background-color: hsl(212, 45%, 89%);
}

.attribution {
  text-align: center;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  width: min-content;
  border-radius: 15px;
  align-content: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
}

#qr-card-img {
  width: 30vh;
  border-radius: 15px;
  padding: 13px;
}

#qr-card-header {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#qr-card-text {
  color: hsl(216, 15%, 48%);
  font-weight: 400;
  font-size: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  margin-top: 0px;
}
